@font-face {
    font-family: "Rubik Light";
    src: url(./fonts/Rubik-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rubik Bold";
    src: url(./fonts/Rubik-Bold.ttf) format("truetype");
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Rubik Light";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#topbar{
    background: #808080;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    -webkit-app-region: drag;
    align-items: center;
}

#topbar .title{
    color: white;
    margin-left: 5px;
    font-size: 14pt;
    font-family: "Rubik";
}

.title{
    user-select: none;
}

#exit_button{
    margin-left: auto;
    height: 30px;
    width: 30px;
    background-color: #808080;
    transition: background-color .3s;
    background-image: url(./icons/close.png);
    background-position: center;
    background-size: 22px 22px;
    -webkit-app-region: no-drag;
}

#exit_button:hover{
    background-color: rgb(215, 21, 38);
}

#content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#controls_wrapper{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mode_toggle{
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
}

.toggle-container{
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.toggle-background, .toggle-foreground{
    position: absolute;
    top: 0;
    left: 0;
	width: inherit;
	height: inherit;
    display: flex;
    align-items: stretch;
}

.toggle-background{
    background: #e9e9e9;
	color: #a9a9a9;
}

.toggle-foreground{
    background: #2a5880;
    color: white;
    clip-path: inset(0 50% 0 0);
    transition: clip-path 0.2s, background-color 0.2s;
}

.toggle-container:hover .toggle-foreground, .toggle-container:focus .toggle-foreground{
    background-color: #53b1f0;
}

.toggle-container.on .toggle-foreground{
    clip-path: inset(0 0 0 50%);
}

.toggle {
	width: 50%;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
    font-size: 12pt;
	margin: auto;
}

#file_container{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    max-height: 300px;
    min-height: 200px;
    background: #e9e9e9;
    border-radius: 10px;
    border: 3px dotted #888888;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#file_container .title{
    color: #a9a9a9;
    margin-top: 5px;
    transition: color 0.2s;
}

#file_background{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url(./icons/upload.png);
    background-repeat: no-repeat;
    opacity: 0.5;
}

#file_container:hover{
    background: #53b1f0;
}

#file_container:hover .title{
    color: white;
}

#file_container.drag-over{
    background: #53b1f0;
}

#process_button{
    margin-top: 5px;
}

.button{
    background: #2a5880;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 150px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.button.disabled{
    background: #e9e9e9;
	color: #a9a9a9;
}

.button:not(.disabled):hover, .button:not(.disabled):focus{
    background: #53b1f0;
}

.preloader{
    border: 20px solid #e9e9e9;
    border-top: 20px solid #53b1f0;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 1.5s linear infinite;
    z-index: 20;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result_icon{
    width: 128px;
    height: 128px;
    background-size: contain;
    background-repeat: no-repeat;
}

#result_icon.complete{
    background-image: url(./icons/complete.png);
}

#result_icon.error{
    background-image: url(./icons/error.png);
}

#result_wrapper .title{
    color: #a9a9a9;
    margin-top: 5px;
}

#result_button{
    margin-top: 10px;
}